/* html {
  google fonts: fontes
  colors.co : paletas de cores
  os dois tem que importar e colocar aqui dentro, lendas!!
} */

* {
  font-family: 'Montserrat', sans-serif;
  /* o asterisco em css significa tudo */
}
h1 {
  text-align: center;
  color: #ffffff;
  background-color: rgba(255, 210, 50);
  text-shadow: 2px 2px hsl(60 50% 20%);
}
p {
  border-style: dotted;
  border-width: 0.25em;
  border-color: rgb(255, 200, 100);
}
div{
  /* da pra fazer nth-child(num da div) */
  background-color: rgb(255, 240, 150);
  text-align: center;
  line-height: 5em;
  color: hsl(60 50% 20%);
  font-weight: bold;
  /* text-transform */
  letter-spacing: 1em;
  line-height: 10em;
}
